/*
*Define a borda, largura e o preenchimento do formulário.
*/
.formulario{
    width: 400px;
    padding: 30px;
    border: 1px solid #ccc;
}
/*
*Define a largura e o tamanjo da font do formulário.
*/
.formulario p{
    width: 100%;
    font-size: 1.5em;
}
.field label,
.field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
/*
*Define a o tamanho das bordas, altura, preenchimento, altura da linha, largura e o esboço.
*/
input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding-left: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}
input#nao{
    margin-left: 30px;
}
/*Este css muda a forma da textarea deixando mais bonita.*/
textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}
/*Este css muda a formatação de todos os inputs da página deixando mais bonito.*/
input[type=submit]{
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px 
}